.DS_Store
.idea/**
/src/DistributionTool
com.elgato.template.streamDeckPlugin
.vscode/**
package.json
package-lock.json
.history
__exclude
.editorconfig
node_modules
com.joelcarranza.time-tracker.streamDeckPlugin